# Dependency directories
node_modules/
jspm_packages/
package-lock.json

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# dev folder for Garrett
-dev